{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load i18n %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% block title %}{% translate 'News detail' %}{% endblock title %}

{% block content %}
<h1>{{ news.title|censor }}</h1>
<hr />
    <h3>{{ news.date_created|timezone:TIME_ZONE|date:"d M Y" }}</h3>
<hr />
    <a href="{% url 'news_edit' pk=news.id %}" class="btn btn-primary">{% translate 'Edit' %}</a>
    <a href="{% url 'news_delete' pk=news.id %}" class="btn btn-danger">{% translate 'Delete' %}</a>
<hr />
{{ news.content|censor }}
{% endblock content %}