{% extends '_base.html' %}

{% load tz %}

{% block title %}
    {% if category %}
        "{{ category.name }}" news
    {% else %}
        All news
    {% endif %}
{% endblock title %}

{% block content %}
<h1>{{ title }}</h1>
<hr>
    {% if category %}
        <a href="{% url 'announcement_list' %}" class="btn btn-primary">Show all announcements</a>
        {% if already_subscribed %}
            <a href="{% url 'announcement_category_unsubscribe' category=category.id %}" class="btn btn-danger float-end">Unsubscribe</a>
        {% else %}
            <a href="{% url 'announcement_category_subscribe' category=category.id %}" class="btn btn-success float-end">Subscribe</a>
        {% endif %}
    {% else %}
        <a href="{% url 'news_create' %}" class="btn btn-success">Add announcement</a>
        {% if not filter.is_applied %}
        <a href="{% url 'announcement_search' %}" class="btn btn-primary float-end">Search</a>
        {% else %}
        <a href="{% url 'announcement_list' %}" class="btn btn-danger float-end">Reset filter</a>
        {% endif %}
    {% endif %}
<hr>
{% if announcement_list %}
<table width="100%">
    <tr>
        <th width="250">Title</th>
        <th width="150">Date</th>
        <th width="200">Category</th>
        <th width="*">Description</th>
        <th width="50"></th>
        <th width="65"></th>
   </tr>
    {% for announcement in announcement_list %}
    <tr>
        <td><a href="{% url 'news_detail' pk=news.id %}">{{ announcement.title }}</a></td>
        <td>{{ announcement.date_created|timezone:TIME_ZONE|date:"d M Y H:i" }}</td>
        <td>
            <a href="{% url 'announcement_category' category=announcement.category.id %}">{{ announcement.category.name }}</a>
        </td>
        <td>{{ announcement.content|truncatewords:20 }}</td>
        <td nowrap><a href="{% url 'announcement_edit' pk=news.id %}">[ 'Edit' ]</a></td>
        <td nowrap><a href="{% url 'announcement_delete' pk=news.id %}" class="text-danger small">[ Delete ]</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
   <h2>No announcements yet.</h2>
{% endif %}
{% include "_pagination.html" %}
{% endblock content %}
