{% extends '_base.html' %}

{% load bootstrap4 %}


{% block content %}
<h1>{% block title %}Announcement delete{% endblock title %}</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <p>Are you sure you want to delete the announcement "{{ announcement.title }}"?</p>
    {% buttons %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'announcement_list' %}" class="btn btn-secondary">Cancel</a>
    {% endbuttons %}
</form>
{% endblock content %}