{% extends '_base.html' %}

{% load tz %}

{% block content %}
    <h1>{% block title %}Response details{% endblock title %}</h1>
    <hr />
    <h3>{{ response.date_created|date:"d M Y" }}</h3>
    <hr />
    {% if not response.approved %}
    <a href="{% url 'response_approve' pk=response.id %}" class="btn btn-primary">Approve</a>
    <a href="{% url 'response_delete' pk=response.id %}" class="btn btn-danger">Delete</a>
    <hr />
    {% endif %}
    {{ response.content }}
{% endblock content %}