{% extends '_base.html' %}

{% load tz %}

{% block content %}
<h1>{% block title %}Response list{% endblock title %}</h1>
<hr>
{% if announcement %}
    <a href="{% url 'response_list' %}" class="btn btn-primary">Show all responses</a>
    <hr />
{% endif %}
{% if response_list %}
<table width="100%">
    <tr>
        <th width="*">Description</th>
        <th width="*">Announcement</th>
        <th width="150">Date</th>
        <th width="50"></th>
        <th width="65"></th>
   </tr>
    {% for response in response_list %}
    <tr>
        <td>
            <a href="{% url 'response_detail' pk=response.id %}">{{ response.content|truncatewords:20 }}</a>
        </td>
        <td>
            <a href="{% url 'response_announcement' announcement=response.announcement.id %}">{{ response.announcement.title }}</a>
        </td>
        <td>{{ response.date_created|date:"d M Y H:i" }}</td>

        {% if not response.approved %}
        <td nowrap><a href="{% url 'response_approve' pk=response.id %}" class="small">[ Approve ]</a></td>
        <td nowrap><a href="{% url 'response_delete' pk=response.id %}" class="text-danger small">[ Delete ]</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
   <h2>No response yet.</h2>
{% endif %}
{% include "_pagination.html" %}
{% endblock content %}
