<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ subject }}</title>
</head>
<body>
    <h1>Hi {{ username }}!</h1>
    <h3>{{ subject }}</h3>
    <p>Thank you for joining our announcement board!</p>
    <p>
        To complete your registration and verify your email address, please follow the link below:<br />
        <a href="{{ confirmation_url }}" target="_blank">{{ confirmation_url }}</a>
    </p>
</body>
</html>